
  .herobackground {
    background-image: url('https://cdn.pixabay.com/photo/2019/07/13/11/44/coffee-4334647_1280.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

/*===== NAVBAR =====*/

.nav-item {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav-link {
  color: #0a7305;
}

 .honestcoffee {
  background-image: url('https://cdn.pixabay.com/photo/2017/11/04/19/00/coffee-2918559_1280.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.borderbottomright {
  width: auto;
  height: auto;
  border-bottom-right-radius: 10px; /* Adjust radius for more/less rounding */

}

.card-box:hover {
  box-shadow: 3px 5px 20px #036e21;
  transition: all 0.5s ease 0s;
  transform: translateY(-2px);
}

.card-box:hover > i {
  color: var(--primary);
  background-color: var(--dark-success);
  transition: all 0.5s ease 0s;
}

.footer {
  background-color: #0a7305;
}






