
  .herobackground {
    background-image: url('images/coffeeshop.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -50px;
  }

/*===== NAVBAR =====*/

.nav-item {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav-link {
  color: #0b9434;
}

 .honestcoffee{
  background-image: url('images/loveofcoffeebg.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.borderbottomright {
  width: auto;
  height: auto;
  border-bottom-right-radius: 10px; /* Adjust radius for more/less rounding */

}

.card-box:hover {
  box-shadow: 3px 5px 20px #036e21;
  transition: all 0.5s ease 0s;
  transform: translateY(-2px);
}

.card-box:hover > i {
  color: var(--primary);
  background-color: var(--dark-success);
  transition: all 0.5s ease 0s;
}



